@font-face {
	font-family: HeadingNow;
	font-display: swap;
	src: url("../fonts/HeadingNow.woff2") format("woff2"), url("../fonts/HeadingNow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
