// Заголовки, общие БЄМ блоки и проче...

//========================================================================================================================================================
.page {
  .page__container {
    @media (max-width: em(1365)) {
      padding: rem(0) rem(16);
    }

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: clamp(204px, 14vw, 304px) 1fr;
    }
  }

  .page__tabl {
    overflow: hidden;
  }

  .page__content {
    position: relative;
    padding: rem(0) rem(28);
    padding-right: rem(0);
    // overflow: hidden;
    @media (max-width: em(1365)) {
      padding: rem(0) rem(20);
      padding-right: rem(0);
    }

    @media (max-width: $tablet) {
      padding: rem(0) rem(0);
    }
  }

  .page__inner {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr rem(345);
      gap: rem(28);
    }
  }
}
//========================================================================================================================================================
.btn {
  padding: rem(6) rem(18);
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(24); /* 160% */
  transition: all $time $tr 0s;
  color: var(--color-alt);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet) {
    font-size: rem(14);
  }

  @media (min-width: $tablet) {
    &:hover {
      color: var(--color-whte);
      background: var(--color-alt);
    }
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
//========================================================================================================================================================

.btn.btn--red {
  border: rem(2) solid var(--color-alt);
}

.btn.btn--whte {
  border: rem(2) solid #e4e4e4;
  color: var(--color-gry);

  &:hover {
    border: rem(2) solid var(--color-gry);
    color: var(--color-gry);
    background: var(--color-whte);
  }
}
.btn.btn--whte.btn--whte-red {
  &:hover {
    color: var(--color-alt);
    background: var(--color-whte);
    border: rem(2) solid var(--color-alt);
  }
}

.btn.btn--gray {
  border: rem(2) solid currentColor;
  color: var(--color-gry);

  &:hover {
    color: var(--color-alt);
    background: var(--color-whte);
  }
}
.btn.btn--dark {
  border: rem(2) solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  &:hover {
    background: var(--color-whte);

    color: var(--color-alt);
  }
}

.form__btns--fixed {
  .btn {
    padding: rem(6) rem(20);
  }
  @media (max-width: $tablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background: var(--color-whte);
    padding: rem(10) rem(16) rem(30);
    z-index: 5;
  }

  .btn {
    @media (max-width: $tablet) {
      padding: rem(6) rem(15);
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.list-category {
  display: flex;
  flex-direction: column;
  gap: rem(24);

  overflow: auto;

  @media (min-width: $tablet) {
    max-height: rem(440);
  }

  @media (max-width: $tablet) {
    gap: rem(16);
  }

  &::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #8585853b;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-alt);
  }

  // .list-category__item

  &__item {
  }

  // .list-category__link

  &__link {
    font-size: rem(16);
    font-weight: 300;
    line-height: rem(24); /* 150% */
    color: var(--color-primary);
    transition: all $time $tr 0s;
    display: flex;
    align-items: flex-start;
    gap: rem(12);
    position: relative;
    padding-right: rem(86);

    @media (max-width: em(1365)) {
      padding-right: rem(35);
    }

    @media (max-width: $mobile) {
      padding-right: rem(103);
    }
    &::before {
      content: "";
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      width: rem(26);
      height: rem(26);
      background: var(--color-gry);
      transition: all $time $tr 0s;
      flex: 0 0 rem(26);
    }

    &::after {
      content: "";
      mask: var(--arrow) center center/contain no-repeat;
      -webkit-mask: var(--arrow) center center/contain no-repeat;
      width: rem(26);
      height: rem(26);
      background: var(--color-alt);
      transition: all $time $tr 0s;
      position: absolute;
      top: 0;
      right: rem(0);
      opacity: 0;

      @media (min-width: $tablet) {
        right: rem(10);
      }
    }

    @media (min-width: $tablet) {
      &:hover {
        color: var(--color-alt);
        &::before {
          background: var(--color-alt);
        }

        &::after {
          opacity: 1;
          right: rem(0);
        }
      }
    }

    @media (max-width: $tablet) {
      &::after {
        background: var(--color-gry);
        opacity: 1;
      }
    }

    @media (min-width: $tablet) {
      &._active {
        color: var(--color-alt);
        &::before {
          background: var(--color-alt);
        }

        &::after {
          opacity: 1;
          right: rem(0);
        }
      }
    }
  }
}

//========================================================================================================================================================

.back {
}

//========================================================================================================================================================

.back--link {
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(24); /* 160% */
  display: inline-flex;
  align-items: center;
  gap: rem(8);
  color: var(--color-primary);
  position: relative;
  transition: all $time $tr 0s;
  &::before {
    content: "";
    mask: var(--icon) center center/contain no-repeat;
    -webkit-mask: var(--icon) center center/contain no-repeat;
    width: rem(26);
    height: rem(26);
    background: var(--color-primary);
    transition: all $time $tr 0s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: rem(-5);
    left: 0;
    width: 100%;
    height: rem(2);
    background: var(--color-primary);
    transition: all $time $tr 0s;
  }

  &:hover {
    color: var(--color-alt);
    &::before {
      background: var(--color-alt);
      transform: translate(rem(-2), rem(0));
    }
    &::after {
      background: var(--color-alt);
    }
  }
}

//========================================================================================================================================================

.menu-open {
  .aside {
    pointer-events: all;
    transform: translate(0, 0);
  }
}

//========================================================================================================================================================
._title {
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: rem(12);
  @media (max-width: $tablet) {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 123.077% */
    margin-bottom: rem(8);
  }
}

._text {
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(24); /* 160% */
  margin-bottom: rem(28);
  max-width: rem(480);

  @media (max-width: em(1365)) {
    font-size: rem(14);
    line-height: rem(24); /* 171.429% */
  }
}

//========================================================================================================================================================

.pc-hidden {
  @media (min-width: $tablet) {
    display: none;
  }
}

//========================================================================================================================================================

.air-datepicker--buttons {
  border: none;
  padding: rem(0);
  background: var(--color-whte);
  padding-bottom: 20px;
}

// .air-datepicker-nav--title {
//   padding: rem(0);
// }

// .air-datepicker-body--day-name {
//   font-size: rem(14);
//   font-style: normal;
//   font-weight: 300;
//   line-height: rem(20); /* 142.857% */
//   color: var(--color-gry);
// }

// .air-datepicker-body--day-names {
//   grid-template-columns: repeat(7, rem(20));
//   gap: rem(16);
//   margin: 0px 0px 0px 0px;
// }

// .air-datepicker-body--cells.-days- {
//   grid-template-columns: repeat(7, rem(20));
//   gap: rem(16);
// }

.air-datepicker-button:active {
  background: transparent;
}

.air-datepicker-button:hover {
  background: transparent;
}

.air-datepicker-button {
  width: 100%;
  border-bottom: rem(2) solid var(--color-primary);
  color: var(--color-alt);
}

.air-datepicker {
  // background: var(--color-whte);
}

.air-datepicker.-inline- {
  // z-index: 3;
  // color: var(--color-whte);
}

.air-datepicker--navigation {
  background: var(--color-whte);
}

.air-datepicker.-inline-._active {
  // background: var(--color-whte);
}

//========================================================================================================================================================

.file-loader__row {
}

.label-upload {
  display: inline-flex;
  align-items: center;
  gap: rem(4);
  padding: rem(7) rem(20);
  border: rem(2) solid var(--color-gry);
  transition: all $time $tr 0s;
  color: var(--color-primary);
  margin-bottom: rem(12);
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(24); /* 160% */
  cursor: pointer;
  &.label-upload--notexst {
    border: none;

    &:hover {
      border: none;
    }
  }
  transition: all $time $tr 0s;
  &::before {
    content: "";
    width: rem(26);
    aspect-ratio: 1 / 1;
    mask: var(--icon) center center/contain no-repeat;
    -webkit-mask: var(--icon) center center/contain no-repeat;
    background: var(--color-gry);
    transition: all $time $tr 0s;
  }

  @media (max-width: $tablet) {
    font-size: rem(14);
    padding: rem(5) rem(20);
  }

  @media (max-width: $mobileSmall) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $tablet) {
    @media (any-hover: hover) {
      &:hover {
        border: rem(2) solid var(--color-alt);
        color: var(--color-alt);
        background: var(--color-whte);

        &::before {
          background: var(--color-alt);
        }
      }
    }
  }
}

.file-loader__text {
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(24); /* 160% */
  color: var(--color-gry);

  @media (max-width: $tablet) {
    font-size: rem(14);
  }

  @media (min-width: $mobileSmall) {
    margin-bottom: rem(24);
  }
}

.file-loader__files {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  @media (max-width: $mobileSmall) {
    margin-bottom: rem(36);
  }
}

.file-result {
  display: flex;
  align-items: center;
  gap: rem(20);
  @media (any-hover: hover) {
    .close {
      opacity: 0;
    }
    &:hover {
      .close {
        opacity: 1;
      }
    }
  }

  @media (max-width: $tablet) {
    gap: rem(8);
  }

  p {
    font-size: rem(15);
    font-style: normal;
    font-weight: 300;
    line-height: rem(24); /* 160% */
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: rem(8);
    &::before {
      content: "";
      background: url("../img/icon/16.svg") center center/contain no-repeat;
      width: rem(26);
      aspect-ratio: 1 / 1;

      @media (max-width: $tablet) {
        width: rem(22);
      }
    }

    @media (max-width: $tablet) {
      font-size: rem(14);
      gap: rem(4);
    }
  }
  .close {
    display: flex;
    align-items: center;
    transition: opacity $time $tr 0s;
    &::before {
      content: "";
      background: url("../img/icon/15.svg") center center/contain no-repeat;
      width: rem(26);
      aspect-ratio: 1 / 1;

      @media (max-width: $tablet) {
        width: rem(22);
      }
    }
  }
}

.file-loader__inner {
  @media (max-width: $mobileSmall) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.file-loader__inner--alt {
  display: flex;
  flex-direction: column-reverse;

  @media (max-width: $mobileSmall) {
    flex-direction: column;
  }

  .file-loader__row {
    display: flex;
    align-items: center;
    gap: rem(23);
  }

  .form__btn {
    margin-top: rem(0);

    @media (max-width: $tablet) {
      margin-top: rem(0);
    }
  }

  .label-upload {
    margin-bottom: rem(0);
    padding: 0px 0px 0px 0px;
    border: none;

    @media (max-width: $tablet) {
      margin-bottom: rem(0);
    }
  }

  .file-loader__files {
    margin-bottom: rem(36);
    @media (max-width: $mobileSmall) {
      margin-top: rem(20);
      margin-bottom: rem(0);
    }
  }
}

.form__item-title {
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(24); /* 160% */
  color: var(--color-gry);

  @media (max-width: $tablet) {
    font-size: rem(14);
  }
}

.form__item-text {
  font-size: rem(14);
  font-weight: 300;
  line-height: rem(24); /* 171.429% */
  color: var(--color-primary);
}

//========================================================================================================================================================

.js-btn-validate {
  &._active {
    color: var(--color-alt);
    border: rem(2) solid var(--color-alt);

    @media (any-hover: hover) {
      &:hover {
        background: var(--color-alt);
        color: var(--color-whte);
        border: rem(2) solid var(--color-alt);
      }
    }
  }
}
