:root {
  --color-primary: #2d2d2d;
  --color-alt: #ff181f;
  --color-gry: #858585;
  --color-yellow: #df921e;
  --color-green: #5f9d4d;
  --color-blue: #4079ad;
  --color-whte: #fff;
  --color-blck: #000;
  --color-gry-alt: #5f5f5f;
}
